nav
{
	align-content: flex-start;
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	position: absolute;
}

nav #checkboxDropDown:checked ~ form
{
	transform: none;
}

#checkboxDropDown
{
	display: block;
	position: absolute;
	opacity: 0;
}

nav form
{
	transform-origin: 0% 0%;
  	transform: translate(0, -1000%);
  
  	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

nav input
{
	background: #272822;
	border-style: none;
	color: #ff6188;
	margin-bottom: 1em;
}

nav label
{
	color: #F92672;
}

.toggleDropDownMenu
{
	position: fixed;
}

.cursorPointer
{
	cursor: pointer;

}
