/* HEADER */
#search_text
{
		background: transparent;
		height: 35px;
		width: 500px;
		border: 1px solid #E1E1E1;

		margin: 20px auto 2em;
		padding: 5px 9px;
		
		color: #E1E1E1;
		font: 2em "Helvetica Neue", sans-serif;
		text-align: center;
}

/* SECTION */
main
{
	padding: 1em 10em 0 10em;
}

.category
{
	background: #272822;
	border-radius: .2em;
	flex-basis: 20%;
	padding: 1em;
	margin: 3em 3em;

	display: flex;
	flex-flow: column;
}

.category p
{
	color: #A6E22E;
	font-family: "Menlo", sans-serif;
	margin-top: 0;
}

.category ul
{
	margin: 0;
	padding: 0;
}

.category li
{
	list-style: none;
}

.category a
{
	color: #66D9EF;
	display: block;
	text-decoration: none;
}

.category a:hover
{
	color: #F92672;
}

.web
{
	margin-top: .5em;
}

/* NAV */
nav
{
	align-content: flex-start;
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	position: absolute;
}

nav #checkboxDropDown:checked ~ form
{
	transform: none;
}

#checkboxDropDown
{
	display: block;
	position: absolute;
	opacity: 0;
}

nav form
{
	transform-origin: 0% 0%;
  	transform: translate(0, -1000%);
  
  	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

nav input
{
	background: #272822;
	border-style: none;
	color: #ff6188;
	margin-bottom: 1em;
}

nav label
{
	color: #F92672;
}

.toggleDropDownMenu
{
	position: fixed;
}

.cursorPointer
{
	cursor: pointer;

}

/* MISC*/
*
{
	font-family: sans-serif;
	outline: none;
}
body
{
	background: #1F1F1F;
	margin: 0px;
	padding: 0px; 
}

input, button
{
	display:block;
	font-size: .8em;
}

#inputContainer form
{

}

.flexboxCenter
{
	align-content: flex-start;
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
