*
{
	font-family: sans-serif;
	outline: none;
}
body
{
	background: #1F1F1F;
	margin: 0px;
	padding: 0px; 
}

input, button
{
	display:block;
	font-size: .8em;
}

#inputContainer form
{

}

.flexboxCenter
{
	align-content: flex-start;
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
