/*
* CSS Variables
*/
:root {
	/* Common */
	--category-width: 11rem;

	/* Light Theme */
	--body-primary-light: #ffffff;
	--body-secondary-light: rgb(247, 246, 243);
	--body-primary-hover-light: #e1e1e1;

	--text-primary-light: #444;
	--text-secondary-light: white;
	--button-primary-light: #007bff;
	--button-secondary-light: #ff0000;
	--input-border-light: #ccc;
	--web-shadow-light: rgba(9,30,66,.25);

	/* Dark theme */
	--body-primary-dark: #272822;
	--body-secondary-dark: #1F1F1F;
	--body-primary-hover-dark: #3a3b32;

	--text-primary-dark: #444;
	--text-secondary-dark: #999999;

	--button-primary-dark: #004792;
	--button-secondary-dark: #750c0c;
	--input-border-dark: #ccc;

	--web-shadow-dark: #3a3b32;

	--monokai-pink: #F92672;
	--monokai-pink-dark: #911643;
	--monokai-blue: #66D9EF;
	--monokai-blue-dark: #4797a7;
	--monokai-gree: #A6E22E;
	--monokai-gree-dark: #70991f;
	--monokai-orange: #FD971F;
	--monokai-orange-dark: #834e11;
}

/*
* Html
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	font-size: 1rem;
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	display: flex;
	min-height: 100%;
	min-width: 100%;

}

/*
* Root
*/
#root {
	margin: 0;
}
body.light {
	color: var(--text-primary-light);
	background: var(--body-secondary-light);
}
body.dark {
	background: var(--body-secondary-dark);
}

/*
* Header
*/
header {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;

	/* Stick to the top */
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	padding: 1rem;
}

header h1 {
	margin: 0;
}

header button {
	margin-right: .5rem;
}

.light header {
	background-color: var(--body-primary-light);
}
.dark header {
	background: var(--body-primary-dark);
	color: var(--monokai-pink-dark);
}
.dark header:hover {
	color: var(--monokai-pink);
}

/*
* Web container
*/
.webContainer {
	/* Because of the fixed position of header */
	padding-top: 5rem;

	display: flex;
	align-content: flex-start;
	align-items: flex-start;
	flex-flow: row nowrap;
	justify-content: flex-start;
}

/*
* Empty state
*/
.emptyState {
	position: absolute;
	width: 100%;
	margin-top: 15rem;

	font-size: 2rem;
	font-weight: bold;
	text-align: center;
}
.light .emptyState  {
	color: var(--text-primary-light);
}
.dark .emptyState {
	color: var(--text-secondary-dark);
}

/*
* Category controller
*/
category-controller {
	margin: 0 1.3rem;
	width: var(--category-width);
}

category-controller ul {
	padding: 0;
}

/*
* Title
*/
category-title {
	display: block;
	font-weight: bold;
	font-size: 1.3rem;
	padding: 1rem 0;
	user-select: none;
	border-radius: 4px;
}
.dark category-title {
	color: var(--monokai-gree-dark);
}

.light category-title:hover {
	background: var(--body-primary-hover-light);
}
.dark category-title:hover {
	background: var(--body-primary-hover-dark);
	color:var(--monokai-gree);
}

category-title input {
	width: 100%;
}

/*
* Web
*/
.web {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 1rem;
	border-radius: 4px;
}

.web .web_wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.web .web_wrapper a {
	padding: 1rem;
	width: 90%;
	text-decoration: none;
	cursor: pointer;
	word-break: break-word;
	user-select: none;
}

.web:hover .web_options{
	display: flex;
	flex-direction: row;
}

.web:hover .web_options:after {
	content: '\2807';
}

category-new-web-button {
	display: flex;
	flex-direction: column;
	user-select: none;
	margin-top: 1rem;
	border-radius: 4px;

	width: var(--category-width);
}

category-new-web-button p {
	text-align: center;
	font-size: x-large;
	padding: .7rem;
	margin: 0;
}

category-new-web-button form,
.web form {
	padding:  1rem;
}

.light .web,
.light category-new-web-button {
	background: var(--body-primary-light);
	color: var(--text-primary-light);
	box-shadow: 0px 2px 3px var(--web-shadow-light);
}
.dark .web,
.dark category-new-web-button {
	background: var(--body-primary-dark);
	color: #4797a7;
	box-shadow: 0px 2px 3px var(--web-shadow-dark);
}

.light .web a {
	color: var(--text-primary-light);
}
.dark .web a {
	color: #4797a7;
}


.light .web:hover,
.light category-new-web-button:hover {
	background: var(--body-primary-hover-light);
}
.dark .web:hover,
.dark category-new-web-button:hover {
	background: var(--body-primary-hover-dark);
}
.dark .web:hover a,
.dark category-new-web-button:hover {
	color: var(--monokai-blue);
}

/*
* Inputs
*/
form {
	display: flex;
}
form > * {
	margin-bottom: .5rem;
}

button,
[type="text"] {
	padding: .5rem .5rem;
	font-size: 1rem;
	border-radius: 4px;
}

button {
	cursor: pointer;
}
.light button {
	background: var(--button-primary-light);
	color: var(--text-secondary-light);
	border: 1px solid var(--button-primary-light);
}
.dark button {
	cursor: pointer;
	background: var(--button-primary-dark);
	color: var(--text-secondary-dark);
	border: 1px solid var(--button-primary-dark);
}

.light button.red {
	background: var(--button-secondary-light);
	border: 1px solid var(--button-secondary-light);
}
.dark button.red {
	background: var(--button-secondary-dark);
	border: 2px solid var(--button-secondary-dark);
}

.light [type="text"] {
	border: 2px solid var(--input-border-light);
}
.dark [type="text"] {
	background: #1F1F1F;
	border: 2px solid var(--monokai-orange-dark);
	color: var(--monokai-orange-dark);
}

.light [type="text"]:active,
.light [type="text"]:focus {
	outline: 0;
}
.light [type="text"]:active,
.light [type="text"]:focus {
	border: 2px solid var(--button-primary-light);
}
.dark [type="text"]:active,
.dark [type="text"]:focus {
	border: 2px solid var(--monokai-orange);
	color: var(--monokai-orange);
}

.warning {
	background-color: yellow;
	height: 50px;
	display:flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	padding: 1em;
}
